<div id="page-wrap">
    <h1 class="page-header"><strong>contactez moi</strong></h1>
    <p>L’éducation, l’animation et l’encadrement sont à la base de mon travail depuis plus de 10 ans.</p>
    <p>Dynamique, souriante et expérimentée, j’organise et anime votre « Fantasia Party » à domicile !</p>

    <p><em>>> Donne un peut plus de details sur Baladins, JS, CRJ, et de tes formations légendaires! Le temps est venu de te vendre une fois qu'ils sont sur cette page :) </em></p>

    <p>Personne n'aime les formulaires de contact sur les sites, donc dis leurs aussi de te joindre via tel/email (qui se trouvent a droite)</p>
</div>

<%= render 'layouts/sidebar' %>