<div id="page-wrap">
    <h1 class="page-header"><strong>contactez moi</strong>Wapiti Fantasia</h1>
    <p>Niveau texte, ca sera a toi de voir ce que tu veut mettre et ce que tu veut pas.</p>
</div>

<%= render 'layouts/sidebar' %>