<h1 class="page-header"><strong>FORMULES</strong>y'en a pour tous</h1>

<img id="gateaux" src="<%= asset_path('gateaux.jpg') %>"/>
 
<h3 class="option-header">1. Gâteaux à thème</h3>
 
<p>Deux possibilités pour vous aider à gagner du temps sans perdre de l’originalité !</p>

<ol style="padding-bottom: 15px;padding-left: 15px">
    <li>1. Je prépare votre gâteau et vous venez le chercher à Buizingen (sortie de bxl)</li>
    <li>2. J’amène votre gâteau chez vous le jour de la «  Fantasia Party »</li>
</ol>

<p>En étant prévenue plus d’une semaine à l’avance, je peux vous préparer un gâteau sur un thème que vous choisissez avec votre enfant!</p>
<p>Les gâteaux a droite: Lapins, Clown, Train reviennent à <strong class="price">25 euros</strong> et peuvent servir 12 personnes.</p>


<h3 class="option-header">2. Animations ( 6 – 12 ans )</h3>
 
<p>Le prix de mes animations inclus le matériel nécessaire au déroulement de l’activité et se présente sous forme de forfait incluant 10 enfants au maximum.</p>
<p>Comptez 9 euros/enfant supplémentaire.</p>
<p>( attention pour l’atelier cuisine, les groupes de plus de 10 enfants rendent l’atelier moins convivial, particulièrement pour les plus petits )</p>

<ol style="padding-bottom: 15px;padding-left: 15px">
    <li>Ateliers cupcakes ( 1h15 ) : <strong class="price">90 euros</strong></li>
    <li>Ateliers popcakes ( 1h15 ) : <strong class="price">90 euros</strong></li>
    <li>Atelier duo cupcakes et popcakes (1h30) : <strong class="price">100 euros</strong></li>
    <li>Fancy fair ( avec points à récolter et surprise à choisir )(1h30) : <strong class="price">100 euros</strong></li>
    <li>Maquillage ( Hypoallergénique ) ( 1h15 pour 10 enfants ) : <strong class="price">85 euros</strong></li>
</ol>

<h3 class="option-header">3. Souvenir de ta Fantasia Party</h3>

<p style="width: 675px;">Je photographie les enfants munis d’un accessoire de déguisement rigolo et me charge d’imprimer tout de suite la photo !</p>

<p style="width: 675px;">Sous le format carte postale, la photo souvenir vous permettra de remercier les invités où permettra aux enfants de se laisser un petit mot en souvenir de leur Fantasia Party avant de rentrer chez eux !</p>

<p>Animation Photo ( 45min ) :  <strong class="price">25 euros</strong></p>
