<div id="sidebar-wrap">
    <ul class="contact-info">
        <li><strong>Telephone:</strong>02.380.42.70</li>
        <li><strong>Email:</strong><a href="mailto:magicienne_@hotmail.com">magicienne_@hotmail.com</a></li>
        <li><strong>Web:</strong><a href="wwww.fantasiaparty.be">fantasiaparty.be</a></li>
    </ul>
</div>