<div id="sidebar-wrap">
    <img src="<%= asset_path('prof.png') %>"/>
    <ul class="contact-info">
        <li><strong>Déborah Stomp</strong><em>Wapiti Fantasia</em></li>
        <li><strong>Telephone:</strong>0474/01.22.02</li>
        <li><strong>Email:</strong><a href="mailto:fantasia.party@hotmail.com">fantasia.party@hotmail.com</a></li>
        <li><strong>Web:</strong><a href="wwww.fantasiaparty.be">fantasiaparty.be</a></li>
    </ul>
</div>