<!DOCTYPE html>
<html>
    <%= render 'layouts/head' %>
<body>

    <%= render 'layouts/header' %>
    <div id="page-wrap">
        <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
</body>
</html>
