<!DOCTYPE html>
<html>
    <%= render 'layouts/head' %>
<body>

<div id="center-wrap">
    <%= render 'layouts/header' %>
    <div id="content-wrap">
        <%= yield %>
    </div>
</div>

</body>
</html>
