<!DOCTYPE html>
<html>
    <%= render 'layouts/head' %>
<body id="home">
    <div id="center-wrap">
        <%= render 'layouts/header' %>
        <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
</body>
</html>
