<!DOCTYPE html>
<html>
    <%= render 'layouts/head' %>
<body id="home">
    <div id="center-wrap">
        <%= render 'layouts/header' %>
        <div id="content-wrap">
            <%= yield %>
        </div>
    </div>
</body>
</html>
